//page width
$PAGE_WIDTH: 1240px;
//$PAGE_WIDTH: 100%;
$PAGE_MIN_WIDTH:1240px;

//small page
$S_FONT_SIZE_1:11px;
$S_FONT_SIZE_2:16px;
$S_FONT_SIZE_3:20px;

//lage page
$L_FONT_SIZE_1:13px;
$L_FONT_SIZE_2:18px;
$L_FONT_SIZE_3:22px;

//extra page
$E_FONT_SIZE_1:16px;
$E_FONT_SIZE_2:20px;
$E_FONT_SIZE_3:25px;

//inp-bg-color
$INP_BG_COLOR:aquamarine;

